@model IEnumerable<DShop2024.Models.OrderModel>

@{
    ViewData["Title"] = $"List History Order placed by {ViewBag.userEmail} ";
}


<h3>List History Order placed by @ViewBag.userEmail</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderCode)
                </td>
                <td>
                    @item.CreatedDate.ToString("dd/MM/yyyy");
                </td>
                <td>
                    @if (item.Status == 1)
                    {
                        <span class="text text-success">Đơn hàng mới</span>
                    }
                    @if (item.Status == 2)
                    {
                        <span class="text text-danger">Đơn hàng thành công</span>
                    }
                    @if (item.Status == -1)
                    {
                        <span class="text text-danger">Cancel Order</span>
                    }
                </td>
                <td>
                    @if (item.Status != -1)
                    {
                        <a asp-action="CancelOrder" class="btn btn-warning btn-sm confirmDeletion" asp-controller="Account" asp-route-Id="@item.Id">Cancel</a>
                    }
                     
                </td>
            </tr>
        }
    </tbody>
</table>



