@model ContactModel

<div class="row">
	<div class="col-sm-3">
		<div class="companyinfo">
			<h2><span>D</span>Shop2024</h2>
			<p><img src="~/media/Logo/@Model.LogoImg" width="120" height="120" /></p>
			<p>@Html.Raw(Model.Description)</p>
		</div>
	</div>
	<div class="col-sm-5 col-md-5">

		<iframe src="@Model.Map" width="400" height="350" style="border:0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
	<div class="col-sm-4">
		<div class="address">
			<h4><b>Name: @Model.ShopName</b></h4>
			<h4>Email: @Model.Email</h4>
			<h4>Hotline: @Model.Phone</h4>
		</div>
	</div>
</div>