@model IEnumerable<DShop2024.Models.BannerModel>

@{
    ViewData["title"] = "List Banner";
}



<p>
    <a class="btn btn-primary" asp-action="Create">Create New Banner</a>
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BannerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BannerName)
                </td>
                <td>
                    @Html.Raw(@item.Description)
                </td>
                <td>
                    <img src="~/media/banners/@item.Image" width="350" height="180" />
                </td>
                <td>
                    @if(item.Status == 1)
                    {
                        <span class="text text-success">Enable</span>
                    }
                    @if (item.Status == -1)
                    {
                        <span class="text text-danger">Disable</span>
                    }
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-danger confirmDeletion" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
