@model DShop2024.Models.OrderModel

@{
    ViewData["title"] = "Order Detail";
}
<div class="container">
    <article class="card">
        <header class="card-header"> My Orders / Tracking </header>
        <div class="card-body">
            <h6>Order ID: @Model.OrderCode </h6>
            <article class="card">
                <div class="card-body row">
                    <div class="col"> <strong>Order Date :</strong> <br>@Model.CreatedDate</div>
                    <div class="col"> <strong>User Name:</strong> <br> @Model.User.UserName </div>
                    <div class="col"> <strong>Status:</strong> <br> @Model.Status </div>
                </div>
            </article>
            <hr>
			<table class="table table-condensed">
				<thead>
					<tr class="cart_menu">
						<td class="image">Image</td>
						<td class="image">Item Name</td>
						<td class="price">Price</td>
						<td class="quantity">Quantity</td>
						<td class="total">SubTotal</td>
					</tr>
				</thead>

						@foreach (var item in Model.OrderDetails)
						{


							<tr>
								<td class="cart_product">
								<a href=""><img src="~/media/products/@item.Product.Image" alt="" width="100"></a>
								</td>
								<td >
									<h4><a href="">@item.Product.ProductName</a></h4>
								</td>
								<td class="cart_price">
									<p>$@item.Price</p>
								</td>
								<td class="cart_quantity">
									<p>@item.Quantity</p>
								</td>
								<td class="cart_total">
									<p class="cart_total_price">$@(item.Price* item.Quantity)</p>
								</td>
							</tr>
						}
						<tr rowspan="5">
							<td colspan="6">Grand Total: <p class="cart_total_price"> @ViewBag.GrandTotal</p></td>
						</tr>

				
			</table>


            <hr>
            <a asp-action="Index">Back to List Order</a>
        </div>
    </article>
</div>