@model DShop2024.Models.OrderModel

@{
    ViewData["title"] = "Order Detail";
}
<div class="container">
    <article class="card">
        <header class="card-header"> My Orders / Tracking </header>
        <div class="card-body">
            <h6>Order ID: @Model.OrderCode </h6>
            <article class="card">
                <div class="card-body row">
                    <div class="col"> <strong>Order Date :</strong> <br>@Model.CreatedDate</div>
                    <div class="col"> <strong>User Name:</strong> <br> @Model.User.UserName </div>
                    <div class="col"> <strong>Status:</strong> <br> @Model.Status </div>
                    <div class="col"> <strong>Tracking #:</strong> <br> BD045903594059 </div>
                </div>
            </article>
            <div class="track">
                <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Order confirmed</span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text"> Picked by courier</span> </div>
                <div class="step"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> On the way </span> </div>
                <div class="step"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Ready for pickup</span> </div>
            </div>
            <hr>
            <ul class="row">
                @foreach (var item in Model.OrderDetails)
                {
                    
                
                <li class="col-md-4">
                    <figure class="itemside mb-3">
                            <div class="aside"><img src="~/media/products/@item.Product.Image" class="img-sm border"></div>
                        <figcaption class="info align-self-center">
                            <p class="title">@item.Product.ProductName <br> @item.Quantity</p> <span class="text-muted">@item.Price * @item.Quantity </span>
                        </figcaption>
                    </figure>
                </li>
                }

            </ul>
            <hr>
            <a asp-action="Index">Back to List Order</a>
        </div>
    </article>
</div>